::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}


:active,
:hover,
:focus {
    outline:0 !important;
    outline-offset: 0
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* ------------Variables define------------- */
:root {
    --primary-color: #a82c48;
    --secondry-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondry-font: 'quicksand', sans-serif;


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;

}

/* -----------------custom scroll bar------------- */

::-webkit-scrollbar {
    width: 0.625rem;

}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* ---------Custom CSS Design------------ */

h1{
    font-size: 2.7rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondry-color);

}
h2{
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: var(--secondry-color);
    line-height: 3rem;

}
h4{
    color: var(--secondry-color);
    font-family: var(--secondry-font);
    text-transform: capitalize;
    color: var(--secondry-color);
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    
}

h5{
    color: var(--primary-color);
}

p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-trasition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    /* margin-left: 3rem; */

}
.white-btn {
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--text-color);
    font-size: 0.9375;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0, 0, 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-trasition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;

}

.main-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    /* background: #000; */
    
}
.white-btn{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.wrapper{
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}

.text-content{
    width: 70%;
    margin: auto;

}
.counter-section h2,
.testimonial-section h2 .book-food-text h2{
    color: var(--white-color);
}

/* --------------header Design--------------- */

.navigation-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item{
    padding: 0 1rem;
    transition: all 200ms linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: unset; 
}

.nav-link{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
}
.navigation-wrap .main-btn{
    padding-top: 1rem 1.4375;
    box-shadow: unset;
    margin-left: 0.625rem;
}

/* ----------Change navbar styling on scroll-------- */

.navigation-wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem rgb(0, 0 , 0 , 09);
    transition: all .15s ease-in-out 0s;

}

/* --------top banner design----------- */

.top-banner{
    width: 100%;
    background: url(images/bg-1.jpg ) no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;

}
.counter-section{
    background-color: var(--primary-color);
    padding: 2.5rem 0;
}
.counter-section p{
    color: var(--white-color);
    text-transform: uppercase;
}

/* ------------about section-------- */

.about-section{
    background: var(--white-color);

}
.about-section .card,
.about-section .card img{
    border-radius: 0.625rem;
}

.text-section{
    padding-left: 2rem;
}

/* -----------food section------------ */

.food-type{
    padding-top: 3.25rem;

}
.food-type ul li{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}
.food-type ul li::before{
    content: "\f00c";
    position: relative;
    left: -2.1875rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}
.story-section{
    width: 100%;
    height: 28.125rem;
    background: url(images/bg-2.jpg) no-repeat center;
    background-size: cover;
    padding-top: 100px;
    align-items: center;

}
.story-section h2{
    color: var(--primary-color);
}
.text-content .main-btn{
    margin-left: 22rem;
}
.explore-food h4{
    font-size: 1.2rem;  
    font-weight: 800;
} 
.explore-food .card{
    border: none;
    /* background-color: transparent; */
        
}
.explore-food .card img{
    border-radius: 0.9375rem;
    object-fit: cover;
}
.explore-food .card span{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    display: block;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid #eee;
}
.explore-food .card del{
    color: var(--text-gray);
}

.testimonial-section {
    background-color: var(--primary-color);
}

.testimonial-section .carousel-item{
    margin-top: 3rem ;
    padding: 2rem 3.125rem;
    background-color:var(--white-color);
    border-radius: 0.9375rem;
    text-align: center;
    
}

.testimonial-section .carousel-item .carosel-caption img{
    max-width: 5rem;
    border-radius: 50%;
    padding: 0.3125rem;
    /* padding-left: 5%; */
    margin-left: 45%;
    margin-bottom: 1rem;
}



.testimonial-section .carousel-item .carosel-caption p{
    font-size: 1.3125rem;
    line-height: 2.0625rem;
    padding: 0 11% 0.625rem;

}
.testimonial-section .carousel-indicators{
    bottom: -2.8125rem;
   
}
.testimonial-section .carousel-indicators button{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    opacity:0.2;
}
.testimonial-section .carousel-indicators button.active{
    opacity: 1;



}
/* ----------------faq section--------- */

.container .uniq{
    font-size: 2rem;
    font-weight: 600;
}

.row h4{
    font-size: 1.2rem;   
    font-weight: 600;

}
.faq h4 span{
    color: var(--primary-color);
    font-size: 1.875rem;
    margin-right: 0.3125rem;
}

.book-food{
    width: 100%;
    background: url(images/bg-3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 71.9125px;
    padding: 4.375rem 0;
    
}
.book-food h2{
    color: var(--white-color);
    
}
/* -----------form control--- */
.newsletter{
    margin:0 auto;
}
.newsletter .form-control{
    height: 3.233rem;
    padding: 0 1.25rem;
    font-size: 0.899rem;
    margin-left: 25%;
    width: 79%;
    border: none;
    /* border: 2px solid black; */
    border-radius: 0;
    background: transparent;
    border: 0.1875rem solid var(--text-color);
    color: var(--black-color);
    font-weight: 700;


}

.newsletter .form-control:hover,
.newsletter .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color);
}

/* --------footer----- */

.footer{
    background-color: var(--primary-color);
}
.footer .footer-link{
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 1.875rem;
}
.footer .footer-link:hover{
    color: var(--white-color) !important;
}
.footer a i{
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 1rem;
}

.d-block{
    height: 75px;
}